body{
   max-width: 500px;
   width:100%;
   margin:0 auto;
   height: 100vh;
   background:#EEEEEE
}

.content_wrap{
   text-align: center;
}

.login_wrap{
padding-top: 50%;
}

.login_wrap h1{
   font-size: 20px;
   margin-bottom: 30px;
}

.login_wrap form > div >input{
   height: 40px;
   width: 75%;
   border-radius: 5px;
   margin-bottom: 15px;
   padding-left: 20px;
}

.login_wrap form > div >input::placeholder{
   font-size: 14px;
}

#signInButton{
   width: 80%;
   height: 40px;
   border-radius: 5px;
   border:1px solid black;
   cursor: pointer;
   background:#2A5137;
   color:white;
}


/* 회원가입 모달창 */
.sign_wrap{

   visibility: hidden;
   height: 100vh;
   position: absolute;
   top:0;
   width: 100%;;

}
.sign_wrap form{
   padding-top: 50%;
}

.sign_wrap h1{
   font-size: 20px;
   margin-bottom: 20px;
}

.sign_wrap form > div >input{
   height: 40px;
   width: 60%;
   border-radius: 5px;
   border:2px solid #2A5137;
   margin-bottom: 15px;
   padding-left: 20px;
}


/* 회원가입 모달창 end */

.on{
   visibility: visible;
}
